<a href="{{ githubProject.htmlUrl }}" target="_blank" class="card m-2" style="width: 18rem">
    <div class="card-body">

        <h5 class="card-title">
            <i class="bi bi-github"></i>
            {{ githubProject.name }}
            {% if githubProject.stargazersCount %}
                <span class="badge bg-primary float-end"><i class="bi bi-star"></i> {{ githubProject.stargazersCount }}</span>
            {% endif %}
        </h5>
        <p class="card-text">{{ githubProject.description }}</p>
        <p class="card-text text-secondary position-absolute bottom-0">{{ githubProject.pushedAt|date() }}</p>

    </div>
</a>
