<div id="web" class="page-container">
    <div class="background">
        {% for i in range(0, 144) %}
            <div class='c'></div>
        {% endfor %}
    </div>

    <h1 class="text-center my-5">{{ "app.web-projects.title" }}</h1>

    {% for webProject in webProjects %}
        <turbo-frame id="web-project-{{ webProject.id }}" src="{{ path('app.index') }}">
            <div class="container my-3 d-flex flex-wrap justify-content-evenly">
                <a href="{{ webProject.url }}" class="card m-1" style="width: 18rem;">
                    <div class="image position-relative">
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ webProject.title }}</h5>
                        <p class="card-text">{{ webProject.description }}</p>
                    </div>
                </a>
            </div>
        </turbo-frame>
    {% endfor %}
</div>
