<!DOCTYPE html>
<html lang="{{ 'lang'|trans }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="robots" content="all, follow"/>
        <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ 'meta.title'|trans }}">
        <meta name="description" content="{{ 'meta.description'|trans }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ path('app.index') }}"/>
        <meta property="og:title" content="{{ 'meta.og.title'|trans }}"/>
        <meta property="og:description" content="{{ 'meta.og.description'|trans }}"/>
        <meta property="og:image" content="{{ absolute_url(asset('images/profile_picture.jpg')) }}"/>
        <meta property="og:image:type" content="image/jpeg"/>
    </head>
    <body class="navbar-expanded">
        {% block body %}{% endblock %}
    </body>
</html>
